@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50-hsl: 226 89% 96%;
    --color-primary-100-hsl: 228 90% 89%;
    --color-primary-200-hsl: 228 89% 83%;
    --color-primary-300-hsl: 228 89% 75%;
    --color-primary-400-hsl: 228 89% 70%;
    --color-primary-500-hsl: 228 89% 63%;
    --color-primary-600-hsl: 228 71% 57%;
    --color-primary-700-hsl: 228 53% 45%;
    --color-primary-800-hsl: 228 53% 35%;
    --color-primary-900-hsl: 228 53% 26%;
    --color-primary-950-hsl: 228 53% 15%;

    --color-neutral-black-hsl: 0 0% 5%;
    --color-neutral-gray-1-hsl: 0 0% 25%;
    --color-neutral-gray-2-hsl: 0 0% 38%;
    --color-neutral-gray-3-hsl: 0 0% 46%;
    --color-neutral-gray-4-hsl: 0 0% 53%;
    --color-neutral-gray-5-hsl: 0 0% 53%;
    --color-neutral-gray-6-hsl: 0 0% 80%;
    --color-neutral-gray-7-hsl: 0 0% 87%;
    --color-neutral-gray-8-hsl: 30 3% 89%;
    --color-neutral-gray-9-hsl: 0 0% 93%;
    --color-neutral-gray-10-hsl: 0 0% 96%;
    --color-neutral-gray-11-hsl: 0 0% 98%;
    --color-neutral-white-hsl: 0 0% 100%;

    --color-state-error-1-hsl: 0 58% 43%;
    --color-state-error-2-hsl: 0 100% 96%;
    --color-state-success-1-hsl: 150 100% 32%;
    --color-state-success-2-hsl: 142 100% 96%;
    --color-state-info-1-hsl: 216 98% 52%;
    --color-state-info-2-hsl: 221 100% 98%;
    --color-state-warning-1-hsl: 44 97% 37%;
    --color-state-warning-2-hsl: 48 100% 96%;
    --color-state-chart-hsl: 188 82% 52%;
  }
}

@layer components {
  .btn {
    @apply rounded-lg transition-colors;

    &:disabled {
      @apply cursor-not-allowed;
    }

    &--size {
      &-sm {
        @apply px-4 py-2 text-button-1;
      }
      &-md {
        @apply px-4 py-3 text-button-1;
      }
      &-lg {
        @apply px-4 py-4 text-button-1;
      }
    }

    &--color {
      &-primary {
      }
      &-neutral {
      }
    }

    &--variant {
      &-fill {
        &.btn {
          &--color {
            &-primary {
              @apply bg-primary-500 text-neutral-white [&:focus:not(:disabled)]:bg-primary-700 [&:hover:not(:disabled)]:bg-primary-600;
            }
            &-neutral {
              @apply bg-neutral-black text-neutral-white [&:focus:not(:disabled)]:bg-neutral-gray-3 [&:hover:not(:disabled)]:bg-neutral-gray-1;
            }
          }
        }
        &:disabled {
          @apply bg-neutral-gray-9 text-neutral-gray-4;
        }
      }
      &-outline {
        &.btn {
          &--color {
            &-primary {
              @apply border border-primary-500 bg-transparent text-primary-500 [&:focus:not(:disabled)]:border-primary-700 [&:focus:not(:disabled)]:text-primary-700 [&:hover:not(:disabled)]:border-primary-600 [&:hover:not(:disabled)]:text-primary-600;
            }
            &-neutral {
              @apply border border-neutral-gray-1 bg-transparent text-neutral-gray-1 [&:focus:not(:disabled)]:border-neutral-gray-3 [&:focus:not(:disabled)]:text-neutral-gray-3 [&:hover:not(:disabled)]:border-neutral-gray-2 [&:hover:not(:disabled)]:text-neutral-gray-2;
            }
          }
        }
        &:disabled {
          @apply border-neutral-gray-4 text-neutral-gray-4;
        }
      }
      &-text {
        &.btn {
          &--color {
            &-primary {
              @apply bg-transparent text-primary-500 [&:focus:not(:disabled)]:text-primary-700 [&:hover:not(:disabled)]:text-primary-600;
            }
            &-neutral {
              @apply bg-transparent text-neutral-gray-1 [&:focus:not(:disabled)]:text-neutral-gray-3 [&:hover:not(:disabled)]:text-neutral-gray-2;
            }
          }
        }
        &:disabled {
          @apply text-neutral-gray-4;
        }
      }
    }

    &__icon {
      @apply size-5;

      .btn:has(&) {
        @apply flex items-center gap-2;
      }
    }
  }
}
